<nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark form-control me-2">
  <div class="container-fluid">
    <a class="navbar-brand" href="/mainpage/page">EcoFit</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse " id="navbarNavDropdown">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="">Productos Lista</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/mainpage/stock">Stock Lista</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/mainpage/pageadmin">Admin</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="drop" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Co
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" href="/mainpage/pageadmin">Admin</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Agregar Stock</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="" class="btn btn-primary">Agregar</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Crear Producto Nuevo</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="/links/listaproducto" class="btn btn-primary">Nuevo Producto</a>
      </div>
    </div>
  </div>
</div>