body{
    background: beige;
    font-family: 'Oswald', sans-serif ;
    overflow: scroll;
}

.page{
    width: 100%;
    height: 100%;

}

.masthead {
    color: black;
    min-height: 30rem;
    width: 100%;
    height: 100%;
    padding-top: 8rem;
    background: url('/src/img/banner3.jpeg');
}