


{{!--FORMULARIO PRODUCTO--}}
<div class="container p-4 ">
    <div class="card" > {{!--cajista donde esta el formulario--}}
        <div class="card-body">
          <h1>Agregar Producto</h1>
            <form action="/links/listaproducto" method="POST" >

                <div class="container p-4 col-md-4 form-group">
                      <div class="form-group col-md-4">
                      <label for="inputState">Nombre Producto:</label>
                      <select type="text" class="form-control " style="width: 9.5cm;" id="" placeholder="Nombre Producto" name="nom_producto">
                        <option> Producto </option>
                        <option>Aluminio</option>
                        <option>Cobre</option>
                        <option>Hierro</option>
                        <option>Metal</option>
                      </select>
                    </div>
                </div>                  

                <div class="container p-4 col-md-4 form-group">
                    <label for="text" class="form-label">Precio:</label>
                    <input type="text" class="form-control " id="" placeholder="$" name="precio_producto" autofocus>
                </div>

                <div class="container p-4 col-md-4 form-group">
                    
                    
                      <div class="form-group col-md-4">
                      <label for="inputState">Tipo:</label>
                      <select type="text" class="form-control" style="width: 9.5cm;"  id="" placeholder="Tipo" name="tipo_producto">
                        <option> Tipo </option>
                        <option>Fierroso</option>
                        <option>No Fierroso</option>
                        
                      </select>
                     </div>
                    
                </div>

                 <div class="container p-4 col-md-4 form-group">
                    <label for="text" class="form-label">Stock:</label>
                    <input type="number" class="form-control " id="" placeholder="Cantidad" name="stock_producto" autofocus>
                </div>

                 <div class="container p-4 col-md-4 form-group">
                    <label for="text" class="form-label">Descripción:</label>
                    <input type="text" class="form-control " id="" placeholder="" name="descripcion" autofocus>
                </div>
                

                <div class= "container p-4 col-md-4 form-group">
                     
                    <button type="submit" class="btn btn-success  col-md-4">Submit</button>
                </div>
                
            </form>
        </div>
    </div>
</div>