<nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark form-control me-2">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">EcoFit</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/links/add">Log In</a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link" href="">A</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle"  id="drop" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Contacto
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" href="/mainpage/pageadmin">Admin</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>




{{!--FORMULARIO USUARIO--}}
<div class="container p-4 ">
    <div class="card" > {{!--cajista donde esta el formulario--}}
        <div class="card-body">
            <form action="/links/registro" method="POST" >

                <div class="container p-4 col-md-4 form-group">
                    <label for="text" class="form-label">Nombre:</label>
                    <input type="text" class="form-control " id="" placeholder="Nombre Usuario" name="nom_cliente" autofocus>
                </div>

                <div class="container p-4 col-md-4 form-group">
                    <label for="text" class="form-label">Apellido:</label>
                    <input type="text" class="form-control " id="" placeholder="Apellido" name="apellido_cliente" autofocus>
                </div>

                <div class="container p-4 col-md-4 form-group">
                    <label for="text" class="form-label">Correo:</label>
                    <input type="email" class="form-control " id="" placeholder="Correo" name="email_cliente" autofocus>
                </div>

                 <div class="container p-4 col-md-4 form-group">
                    <label for="text" class="form-label">Telefono:</label>
                    <input type="text" class="form-control " id="" placeholder="Telefono" name="telefono_cliente" autofocus>
                </div>

                 <div class="container p-4 col-md-4 form-group">
                    <label for="text" class="form-label">RUT:</label>
                    <input type="text" class="form-control " id="" placeholder="12212121-k" name="rut_cliente" autofocus>
                </div>

                <div class="container p-4 col-md-4 form-group">
                    <label for="text" class="form-label">Direccion:</label>
                    <input type="text" class="form-control " id="" placeholder="1221 av" name="direccion_cliente" autofocus>
                </div>

                <div class="container p-4 col-md-4 form-group">
                    <label for="text" class="form-label">Contacto:</label>
                    <input type="text" class="form-control " id="" placeholder="Nombre Contacto" name="contacto_cliente" autofocus>
                </div>    

                <div class="container p-4 col-md-4 form-group">
                    <label for="pwd" class="form-label">Password:</label>
                    <input type="password" class="form-control" id="" placeholder="Enter password" name="secreto" autofocus>
                </div>

                <div class= "container p-4 col-md-4 form-group">
                     
                    <button type="submit" class="btn btn-success  col-md-4">Submit</button>
                </div>
                
            </form>
        </div>
    </div>
</div>