{{!--FORMULARIO USUARIO--}}
<div class="container p-4 ">
    <div class="card" > {{!--cajista donde esta el formulario--}}
        <div class="card-body">
            <form action="/links/registro" method="POST" >

                <div class="container p-4 col-md-4 form-group">
                    <label for="text" class="form-label">Nombre:</label>
                    <input type="text" class="form-control " id="" placeholder="Nombre Usuario" name="nom_cliente" autofocus>
                </div>

                <div class="container p-4 col-md-4 form-group">
                    <label for="text" class="form-label">Apellido:</label>
                    <input type="text" class="form-control " id="" placeholder="Apellido" name="apellido_cliente" autofocus>
                </div>

                <div class="container p-4 col-md-4 form-group">
                    <label for="text" class="form-label">Correo:</label>
                    <input type="email" class="form-control " id="" placeholder="Correo" name="email_cliente" autofocus>
                </div>

                 <div class="container p-4 col-md-4 form-group">
                    <label for="text" class="form-label">Telefono:</label>
                    <input type="text" class="form-control " id="" placeholder="Telefono" name="telefono_cliente" autofocus>
                </div>

                 <div class="container p-4 col-md-4 form-group">
                    <label for="text" class="form-label">RUT:</label>
                    <input type="text" class="form-control " id="" placeholder="12212121-k" name="rut_cliente" autofocus>
                </div>

                <div class="container p-4 col-md-4 form-group">
                    <label for="text" class="form-label">Direccion:</label>
                    <input type="text" class="form-control " id="" placeholder="1221 av" name="direccion_cliente" autofocus>
                </div>

                <div class="container p-4 col-md-4 form-group">
                    <label for="text" class="form-label">Contacto:</label>
                    <input type="text" class="form-control " id="" placeholder="Nombre Contacto" name="contacto_cliente" autofocus>
                </div>    

                <div class="container p-4 col-md-4 form-group">
                    <label for="pwd" class="form-label">Password:</label>
                    <input type="password" class="form-control" id="" placeholder="Enter password" name="secreto" autofocus>
                </div>

                <div class= "container p-4 col-md-4 form-group">
                     
                    <button type="submit" class="btn btn-success  col-md-4">Submit</button>
                </div>
                
            </form>
        </div>
    </div>
</div>